<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.idleplatform.order.dao.OrderDao">
    <!--新增卖出的商品-->
    <insert id="addOrder" parameterType="com.platform.idleplatform.goods.entity.OrderInfo">
        insert into
            t_order (
	        order_id,
	        goods_id,
	        buyer,
	        address_id,
	        state,
	        update_time
    )
        values(
            #{orderId},
            #{goodsId},
            #{buyer},
            #{addressId},
            0,
            now()
        )
    </insert>

    <!--获取买到的商品-->
    <select id="getBuyList" parameterType="java.lang.String" resultType="com.platform.idleplatform.goods.entity.OrderInfo">
    SELECT
	order_id,
    t_goods.goods_id goodsId,
	title,
	url indexPath,
	price,
	shipping,
	t_order.buyer,
	image_path,
	user_name
    FROM
	    t_goods,
	    t_image,
	    t_user,
			t_order
    WHERE
	    t_goods.goods_id = t_image.goods_id
    AND goods_order = 0
    AND t_user.user_id = t_goods.user_id
    AND t_order.goods_id = t_goods.goods_id
    AND t_order.buyer = #{buyer}
    </select>

    <!--获取卖出的商品-->
    <select id="getSellList" parameterType="java.lang.String" resultType="com.platform.idleplatform.goods.entity.OrderInfo">
    SELECT
	order_id,
    t_goods.goods_id goodsId,
	title,
	url indexPath,
	price,
	shipping,
	t_order.buyer,
	image_path,
	user_name,
	state
    FROM
	    t_goods,
	    t_image,
	    t_user,
		t_order
    WHERE
	    t_goods.goods_id = t_image.goods_id
    AND goods_order = 0
    AND t_user.user_id = t_order.buyer
    AND t_order.goods_id = t_goods.goods_id
    AND t_goods.user_id = #{userId}
    </select>
</mapper>