<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.idleplatform.user.dao.UserDao">
	<!--获取用户信息-->
	<select id="getUserInfo" parameterType="java.lang.String" resultType="com.platform.idleplatform.user.entity.UserInfo">
		select
			user_id,
			user_name,
			image_path
		from
			t_user
		where
			user_id = #{userId}
	</select>

	<!--新增关注-->
	<insert id="addFans" parameterType="com.platform.idleplatform.user.entity.FansInfo">
		insert into
			t_fans(
				user_id,
				fans,
				update_time,
				is_delete
			)values(
				#{userId},
				#{fans},
				now(),
				0
			)
	</insert>

	<!--取消关注-->
	<update id="cancelFans" parameterType="com.platform.idleplatform.user.entity.FansInfo">
		update
			t_fans
		set
			is_delete = 1
		where
			user_id = #{userId}
		and
			fans = #{fans}
	</update>

	<!--检查关注-->
	<select id="isFans" parameterType="com.platform.idleplatform.user.entity.FansInfo" resultType="java.lang.Integer">
		select
			count(*)
		from
			t_fans
		where
			user_id = #{userId}
		AND
			fans = #{fans}
		AND
			is_delete = 0
	</select>
</mapper>